@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
    margin:0;
    padding:0;
    
}
.header{
    margin: 0;
    background-color: #DF4671;
    display: flex;
    height:auto;
    padding-bottom: 40px;
}


ul{
    margin-top:0;
    padding:0;
    display: flex;
    list-style-type: none;
    
    
}
ul li {
    margin-top: 40px;
    padding: 0 40px;
}

.home {
    margin-right: auto;
}

.container{
    max-width: 1400px;
    margin: auto;
    
}

.happy {
    display: flex;
    align-items:center;
}
.happy img{
    margin-left: 30px;
    border-radius: 20px;
    border: rgb(163, 67, 115)solid 5px;
}
.happy button, .callus button{
    color:#f3e9cf;
    background-color: #e4507a;
    border: rgb(163, 67, 115)solid 2px;
    border-radius: 20px;
}
*{
    font-family: "Itim", cursive;
    font-style: normal;
}
.header p, .header h1, ul,.callus .container, .Copyright{
    color: #f3e9cf;
    
}

.flex{
    display:flex;
    /* flex-wrap: wrap; */
    
}
.flex img{
    border-radius: 20px;
    border: black solid 2px;
}

.quote{
    background-color: bisque;
    height: auto;
}

.quote .container{
    padding:30px;
}

.callus{
    width: 1100px;
    background-color: #DF4671;
    border-radius: 20px;
    margin: 70px auto;
}
.callus .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}

.Copyright{
    text-align: center;
    background-color: #ca4b6f;
    padding: 10px;
}

.cakes{
    text-align: center;
}