@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
    margin:0;
    padding:0;
    background-color: #faeee7;
    
}
.header{
    margin: 0;
    background-color: #ff8ba7;
    display: flex;
    height:auto;
    padding-bottom: 40px;
}


ul{
    margin-top:0;
    padding:0;
    display: flex;
    list-style-type: none;
    
    
}
ul li {
    margin-top: 40px;
    padding: 0 40px;
}

.home {
    margin-right: auto;
}

.container{
    max-width: 1400px;
    margin: auto;
    
}
a{
    text-decoration:none;
}
.happy {
    display: flex;
    align-items:center;
    margin-bottom: 40px;

}
.happy img{
    margin-left: 30px;
    border-radius: 20px;
    border: hsl(347, 29%, 43%) solid 5px;
}

*{
    font-family: "Itim", cursive;
    font-style: normal;
    color: #33272a;
}


.flex{
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;

    
}
.flex img{
    border-radius: 30px;
    border: #594a4e solid 5px;
}

.quote{
    background-color: #ffc6c7;
    height: auto;
    margin-top:50px;
}

.quote .container{
    padding: 50px 150px;
}

.callus{
    width: 1100px;
    background-color: #ff8ba7;
    border-radius: 20px;
    margin: 70px auto;
}
.callus .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}



.middle p{
    font-size: 20px;
    color: #594a4e;
}
.callus p{
    font-size: 25px;
}
.Copyright{
    text-align: center;
    background-color: #ffc6c7;
    padding: 10px;
    font-size: 20px;
}

.cakes{
    text-align: center;
}

.header button{
    margin-top: -15px;

}

button{
    background-color: #fffffe;
    font-size:24px;
    padding:8px 17px;
    border-radius: 40px;
    border: hsl(347, 29%, 43%) solid 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 350ms;
    
}
 
button:hover{
    background-color: #ffc6c7;
    transition: 350ms;
    transform:translate(-2px, -2px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19)
}
